<%- include("../common/header.ejs") %>
    <%- include("../common/navbar.ejs") %>
        <%- include("../common/sidebar.ejs") %>


            <div class="app-content content">
                <div class="content-overlay"></div>
                <div class="header-navbar-shadow"></div>
                <div class="content-wrapper container-xxl p-0">
                    <div class="content-header row"></div>
                    <div class="content-body">
                        <h1>Dashboard</h1>

                        <div class="row">
                            <!-- User Card -->
                            <div class="col-xl-3 col-sm-6 col-10 mb-2 mb-xl-1">
                                <div class="card">
                                    <div class="card-body">
                                        <a href="">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-primary me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="users" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0">

                                                    </h4>
                                                    <p class="card-text font-small-4 mb-0">Users</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Provider Card -->
                            <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                                <div class="card">
                                    <div class="card-body">
                                        <a href="">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-info me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="briefcase" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0">

                                                    </h4>
                                                    <p class="card-text font-small-4 mb-0">Business</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- category -->
                            <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                                <div class="card">
                                    <div class="card-body">
                                        <a href="">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-danger me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="layers" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0">

                                                    </h4>
                                                    <p class="card-text font-small-4 mb-0">Category</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Category Card -->
                            <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                                <div class="card">
                                    <div class="card-body">
                                        <a href="">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-primary me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="bell" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0">

                                                    </h4>
                                                    <p class="card-text font-small-4 mb-0">Notification</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                                <div class="card">
                                    <div class="card-body">
                                        <a href="">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-primary me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="phone" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0">

                                                    </h4>
                                                    <p class="card-text font-small-4 mb-0">ContactUs</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
                <%- include("../common/footer.ejs") %>
            </div>


            <!-- //////////////////////////ApexChart//////////////////////// -->



            <!-- <link rel="stylesheet"
                            href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.44.2/apexcharts.min.css"
                            integrity="sha512-qc0GepkUB5ugt8LevOF/K2h2lLGIloDBcWX8yawu/5V8FXSxZLn3NVMZskeEyOhlc6RxKiEj6QpSrlAoL1D3TA=="
                            crossorigin="anonymous" referrerpolicy="no-referrer" />
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.44.2/apexcharts.min.js"
                            integrity="sha512-0C7wVtM3EhVJMUXV6o50mKRgLwKZf+aRws1BhqmNabPNIkGEvyPncYBmXhpl4A3+TdpkY2HFiI3Eyv32uVGo4g=="
                            crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->





            <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>